@import '../../../../styles//vars';

.videos{
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 30px;
  background-color: $grey;
  padding: 12px;
  @media(max-width: 769px){
    flex-direction: column;
    gap: 14px;
  }
  .title{
    font-size: 18px;
    white-space: nowrap;
    font-weight: normal;
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media(max-width: 769px){
      flex-direction: column;
      gap: 14px;
    }
  }
  .item{
    display: flex;
    align-items: center;
    background-color: $black;
    padding: 8px 12px;
    max-width: 380px;
    width: auto;
    gap: 10px;
    transition: all .3s ease;
    &:hover{
      background-color: #000;
    }
    @media(max-width: 1080px){
      max-width: 320px;
    }
    @media(max-width: 950px){
      max-width: 280px;
    }
    @media(max-width: 860px){
      max-width: 240px;
    }
    @media(max-width: 768px){
      max-width: 360px;
    }
    @media(max-width: 400px){
      max-width: 320px;
    }
    @media(max-width: 350px){
      max-width: 280px;
    }
    @media(max-width: 300px){
      max-width: 250px;
    }
  }
  .item-title{
    font-weight: normal;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80%;
  }
}